<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../stylesheets/main.css">
    <title>Inner Compass</title>
</head>
<body>
    <div class="container">
        <!-- Hero Section with Image and Title -->
        <div class="hero-section">
            Depression Test
            <div class="test-buttons">
                <button class="test-button"><i class="fas fa-check"></i>20 Questions</button>
                <button class="test-button"><i class="fas fa-clock"></i>3 Minutes</button>
            </div>
        </div>

        <!-- Info Section -->
        <div class="info-section">
            <h2>Are you experiencing depression?</h2>
            <p>
                Many people feel low at some point, but for those with clinical depression, such feelings don’t pass; they 
                lead to symptoms such as hopelessness, exhaustion, and thoughts of death. Depression can be treated 
                but the first step is determining whether symptoms are present. This test could help.
            </p>
        </div>
    </div>

    <!-- FontAwesome for Icons -->
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</body>
</html>